<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adote um amor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/image/favicon.png"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><i class="fas fa-paw"></i></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#animais">Animais</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><i class="fas fa-paw"></i></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="animal-image">
        <img
          src="{{ url_for('static', filename='image/fotopet.png') }}"
          alt="Foto de um animal"
        />
      </div>
      <div class="hero-content">
        <h2>Adote um Amigo!</h2>
        <p>
          Adotar um animal é muito mais do que oferecer um lar, é acolher um
          coração que só quer retribuir com amor incondicional. Cada patinha que
          você resgata traz consigo uma nova chance de felicidade,
          companheirismo e gratidão. Dê a eles o carinho que tanto merecem, e
          eles irão transformar sua vida de maneiras que você nunca imaginou!
        </p>
        <button class="cta-btn" id="open-modal-btn">Cadastre os animais</button>
      </div>
    </section>
    <section id="animais" class="animais">
      <div class="container">
        <h3>Conheça Nossos Animais</h3>
        {% for animal in animals %}
        <div class="animal-card" data-animal-name="{{ animal['name'] }}">
          <span class="close-btn remove-animal-btn">&times;</span>
          <img
            src="{{ url_for('static', filename=animal['image'].split('static/')[1]) }}"
            alt="{{ animal['name'] }}"
          />
          <h4>{{ animal['name'] }}</h4>
          <p>Espécie: {{ animal['species'] }}</p>
          <p>Sexo: {{ animal['sex'] }}</p>
          <p>Idade: {{ animal['age'] }} anos</p>
          <div class="btn-adotar">
            <a
              href="https://api.whatsapp.com/send?phone=55{{ animal['tel'] }}&text=Ol%C3%A1%2C%20gostaria%20de%20saber%20sobre%20seu%20animal%20para%20doa%C3%A7%C3%A3o!"
              class="adote-btn"
              target="_blank"
              >Adote</a
            >
          </div>
        </div>
        {% else %}
        <p>Nenhum animal cadastrado ainda.</p>
        {% endfor %}
      </div>
    </section>
    <section id="sobre" class="sobre">
      <div class="container">
        <h3>Sobre Nós</h3>
        <p>
          Somos uma ONG dedicada à adoção responsável de animais. Nossa missão é
          encontrar lares amorosos para cães e gatos abandonados e promover a
          conscientização sobre a adoção.
        </p>
      </div>
    </section>

    <div class="modal" id="animal-modal">
      <div class="modal-content">
        <span class="close-btn" id="close-modal-btn">&times;</span>
        <h2>Cadastro de Animais</h2>
        <form
          id="animal-form"
          method="POST"
          action="/cadastro"
          enctype="multipart/form-data"
        >
          <div class="form-input">
            <label for="name">Nome do Animal:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-input">
            <label for="species">Espécie:</label>
            <input type="text" id="species" name="species" required />
          </div>
          <div class="form-input">
            <label for="sex">Sexo:</label>
            <input type="text" id="sex" name="sex" required />
          </div>
          <div class="form-input">
            <label for="age">Idade:</label>
            <input type="text" id="age" name="age" required />
          </div>
          <div class="form-input">
            <label for="tel">Telefone para contato:</label>
            <input type="number" id="tel" name="tel" required />
          </div>
          <div class="form-input">
            <label for="image">Imagem do Animal:</label>
            <input
              type="file"
              id="image"
              name="image"
              accept="image/*"
              required
            />
          </div>

          <div class="cadastrar">
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 Adote um amor. Todos os direitos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
